html, body {
  /*background-color: rgb(232, 253, 255);*/
/*   font-family: fantasy; */
}

h1 {
  color: rgb(0, 66, 120);
}


/*navbar*/
/* body {
  min-height: 2000px;
  padding-top: 70px;
} */

/* icons */
.icon-flag{
  width: 28px;  // 14px * 2
  height: 28px; // 14px * 2
  background-size: 938px 318px;  // original dimensions * 2
  background-position: -624px -48px;  // original position * 2
}