html, body {
  /*background-color: rgb(232, 253, 255);*/
/*   font-family: fantasy; */
}

h1 {
  color: rgb(0, 66, 120);
}


/*navbar*/
/* body {
  min-height: 2000px;
  padding-top: 70px;
} */

/* bootstrap word wrap for columns */
div {
  word-break: break-all;
  word-wrap: break-word;
}​
